{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
<article>

  {% if page.header %}
    <header class="header" id="header">
      <div class="container">
        <div class="header__logo-wrapper">
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" class="header__logo">
            <img src="{{ base_path ~ directory }}/web/images/icons/logo-1.svg" alt="{{ site_name }}">
            <img src="{{ base_path ~ directory }}/web/images/icons/logo-2.png" alt="{{ site_name }}">
            <span class="ml-7px">{{ site_name }}</span>
          </a>
        </div>
        {{ page.header }}
        {% include '@sport/layout/mobile-menu.html.twig' %}

      </div>
    </header><!-- /#header -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
    <div class="container">
      <div id="content-wrapper">
        <section id="content">

          <div id="content-header">

            {{ page.breadcrumb }}

            {% if page.highlighted|render %}
              <div id="highlighted">{{ page.highlighted }}</div>
            {% endif %}

            {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ page.help }}

            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

          </div><!-- /#content-header -->

          <div id="content-area">
            {{ page.content }}
          </div>

        </section><!-- /#content -->

        {% if page.sidebar_first|render %}
          <aside id="sidebar-first" class="column sidebar first">
            {{ page.sidebar_first }}
          </aside><!-- /#sidebar-first -->
        {% endif %}

        {% if page.sidebar_second|render %}
          <aside id="sidebar-second" class="column sidebar second">
            {{ page.sidebar_second }}
          </aside><!-- /#sidebar-second -->
        {% endif %}

      </div><!-- /#content-wrapper -->
    </div><!-- /.container -->
  </div><!-- /#main -->

  <!-- ______________________ FOOTER _______________________ -->

  {% if page.footer|render %}
    <footer id="footer">
      <div class="container">
        <div id="footer-region">
          {{ page.footer }}
        </div>
      </div>
    </footer><!-- /#footer -->
  {% endif %}

</article><!-- /.layout-container -->
