{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
<article>

  {% if page.header %}
    <header class="header" id="header">
      <div class="container">
        <div class="header__logo-wrapper">
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" class="header__logo">
            <img src="{{ base_path ~ directory }}/web/images/icons/logo-1.svg" alt="{{ site_name }}">
            <img src="{{ base_path ~ directory }}/web/images/icons/logo-2.png" alt="{{ site_name }}">
            <span class="ml-7px">{{ site_name }}</span>
          </a>
        </div>
        {{ page.header }}
        {% include '@sport/layout/mobile-menu.html.twig' %}

      </div>
    </header><!-- /#header -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->
  {%
    set classes = [
      'main',
      is_front ? 'main-general',
      route_name == 'view.sport_kinds.page_1' ? 'main--sport-kinds',
      route_name == 'view.news.page_1' ? 'main--news',
      route_name == 'view.announcements.page_1' ? 'main--events',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    {% if is_front %}<img src="{{ base_path ~ directory }}/web/images/svg/main-page-bg.svg" alt="background-image" class="bg">{% endif %}
    <div class="container">
          <div id="content-header">

            {% if page.highlighted|render %}
              <div id="highlighted">{{ page.highlighted }}</div>
            {% endif %}

            {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ page.help }}

            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

          </div><!-- /#content-header -->

          <div id="content-area">
            {{ page.content }}
          </div>

    </div><!-- /.container -->
  </div><!-- /#main -->

  <!-- ______________________ FOOTER _______________________ -->

  {% include '@sport/layout/footer.html.twig' %}

</article><!-- /.layout-container -->
