{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'news-card',
  'link-card'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
  <a{{ attributes.addClass(classes) }} href="{{ url }}">
    <div class="news-card__header">
      {% set icon_path = "/" ~ base_path ~ directory ~ "/img/news.svg" %}
      {% set preview = (content.field_photos[0]) ? content.field_photos[0]['#item'].entity.uri.value | image_style('news_large') : icon_path %}
      <img src="{{ preview }}" alt="news-preview" class="link-card__zoom">
    </div>
    <div class="news-card__content">
      <p class="text-small mb-2px">{{ node.created.value|format_date('medium') }}
        <span class="eye ml-10px">{{ node_view_count ?? 0 }}</span>
      </p>
      <p class="font-bold mb-8px link-card__title">{{ label }}</p>
      <p class="text-small">
      {% if content.field_sport_kinds|render %}
        #{{ content.field_sport_kinds|render|striptags }}
      {% endif %}
      &nbsp;</p>
    </div>
  </a>
