{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'event-card',
  'link-card',
  'swiper-slide'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

  <a{{ attributes.addClass(classes) }} href="{{ url }}">
    <div class="event-card__icon">
      {% set icon_path = "/" ~ base_path ~ directory ~ "/img/logo.svg" %}
      {% set preview = (content.field_photos[0]) ? content.field_photos[0]['#item'].entity.uri.value | image_style('news_large') : icon_path %}
      <img src="{{ preview }}" alt="icon">
    </div>
    <p class="text-normal mb-9px">{{ content.field_date_range|render|striptags }}</p>
    <p class="font-bold link-card__title">{{ label }}</p>
    <p class="text-small">
      {% if content.field_sport_kinds|render %}
        #{{ content.field_sport_kinds|render|striptags }}
      {% endif %}
    </p>
  </a>
