{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'leadership-card'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
<article{{ attributes.addClass(classes) }}>
  <div class="leadership-card__left">
    <div class="leadership-card__avatar">
      {% set url = content.field_employee_photo[0]['#item'].entity.uri.value %}
      {% set img = file_url(url) %}
      <img src="{{ img }}" alt="icon">
    </div>
    {{ title_prefix }}
    {% if not page and label %}
      <h3 class="h3 c-show-md mb-0px ml-16px">
        {{ label }}
      </h3>
    {% endif %}
    {{ title_suffix }}
  </div>
  <div {{ content_attributes.addClass('content leadership-card__right') }}>
    <h3 class="h3 c-hidden-md mb-12px mt-10px">{{ label }}</h3>
    <p class="mb-14px">{{ content.field_position|render|striptags|trim }}</p>
    <span class="mb-14px">{{ content.field_birth_place|render|striptags|trim }}</span>
    {% if content.body|render %}
      {{ content.body }}
    {% endif %}
    {{ content|without('links', 'field_position', 'field_employee_photo', 'body', 'field_birth_place') }}
  </div>
  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div><!-- /.links -->
  {% endif %}

</article><!-- /.node -->
