{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="news">
  <div class="news__left swiper--news">
    {% for row in rows %}
      {%
        set row_classes = [
          'swiper-slide',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
          {{- row.content -}}
        </div>
    {% endfor %}
  </div>
  <div class="news__right news-list">
    <div class="news-list__inner">
      {{ drupal_view('frontpage', 'block_1') }}
    </div>
    <div class="news-list__link">
      {{ drupal_link('All news'|t, path('view.news.page_1'), {attributes: {class: 'link link--blue'}}) }}
    </div>
  </div>
</div>
