{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  <nav class="mb-29px">
    <div class="nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" id="nav-trainers-list-tab" data-toggle="tab" href="#nav-trainers-list" role="tab" aria-controls="nav-trainers-list" aria-selected="true">{{ 'Списком'|trans }}</a>
      <a class="nav-item nav-link" id="nav-trainers-map-tab" data-toggle="tab" href="#nav-trainers-map" role="tab" aria-controls="nav-trainers-map" aria-selected="false">{{ 'На карте'|trans }}</a>
    </div>
  </nav>
  <div class="input-block input-block--with-select mb-30px">
    {% if exposed %}
      {{ exposed }}
    {% endif %}
    {{ attachment_before }}
  </div>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-trainers-list" role="tabpanel" aria-labelledby="nav-trainers-list-tab">
      <div class="row">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
      </div>
      {{ pager }}
    </div>
    <div class="tab-pane fade" id="nav-trainers-map" role="tabpanel" aria-labelledby="nav-trainers-map-tab">
      <div id="yandex-map-trainers"></div>
    </div>
  </div>

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</section>
